@font-face {
  font-family: 'interLight';
  src: local('interLight'),
    url(./fonts/Inter/static/inter-light.ttf) format('truetype');
}

@font-face {
  font-family: 'interExtraLight';
  src: local('interExtraLight'),
    url(./fonts/Inter/static/inter-extraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'interMedium';
  src: local('interMedium'),
    url(./fonts/Inter/static/inter-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'robotoLight';
  src: url(./fonts/roboto-light.ttf);
}

h1 {
  font-family: 'interMedium';
  font-size: 24px;
}
a {
  font-size: 20px;
  font-family: 'robotoLight';
}
p {
  font-family: 'interExtraLight';
  font-size: 16px;
}
h2 {
  font-size: 24px;
  font-family: 'interLight';
}

h3 {
  font-size: 18px;
  font-family: 'interLight';
}

button {
  font-size: 18px;
  font-family: 'interLight';
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

form {
  font-size: 20px;
  font-family: 'interExtraLight';
}
