body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  width: 100%;
}

header {
  height: 3.75rem;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  align-items: center;
}

nav h1 {
  margin-left: 1rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 0.3rem 1rem;
}

nav h1,
.navInfo,
.heroInfo,
button {
  background: rgba(0, 0, 0, 0.8);
}

button {
  cursor: pointer;
}

.navInfo {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 3px;
  /* padding-left: 1rem;
  padding-top */
  padding: 0.3rem 1rem;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 1rem;
}
.lastNavItem {
  padding-right: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroDesktop {
  width: 100%;
  height: 100vh;
  display: flex;
  object-fit: cover;
}
.heroInfo {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  border-radius: 15px;
  padding: 0.7rem 0.7rem;
}

.heroInfo button {
  margin-top: 8.2rem;
  align-self: center;
  position: absolute;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  border-radius: 30px;
  border-color: white;
  border-width: 1px;
  border-style: groove;
  font-family: 'interMedium';
  color: white;
  height: 2.75rem;
}

/* SpaceShuttle-section */

.island {
  width: 100%;
  height: 100vh;
  flex-direction: row;
  display: flex;
}

.islandInfoHeading {
  margin-top: 2rem;
}
.islandInfo {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.spaceShuttlePicture {
  height: 100vh;
  right: 0;
  width: 50%;
}
.formCalenderSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  grid-column-start: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  /* align-self: center; */
  gap: 0.5rem;
  /* align-content: space-between;
  flex-wrap: wrap; */
}

#bookButton {
  margin-top: 1rem;
}

.checkBoxRow {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
input,
select {
  /* margin-top: 1rem; */
  height: 2rem;
  font: inherit;
  text-align: center;
}

#arrival,
#departure,
#room {
  min-height: 2rem;
}

input[type='checkbox' i] {
  width: 1rem;
  height: 1rem;
}

.calendarSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarBox {
  width: 25rem;
  height: 22.5rem;
  grid-column: 2;
}

.calendar > * {
  font-family: 'interExtraLight';
  background-color: black;
}

/* code for slide */
* {
  box-sizing: border-box;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slides-container {
  /* height: calc(100vh - 2rem); */
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: scroll;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
  z-index: 99;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
  z-index: 99;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slides-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
