body {
  color: black;
  align-content: center;
  flex-direction: column;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  width: 100%;
}

header {
  height: 3.75rem;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  align-items: center;
}

nav h2 {
  padding-left: 1rem;
}

.navInfo {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  cursor: pointer;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 1rem;
}

.heroDesktop {
  width: 100%;
  height: 100vh;
  display: flex;
  object-fit: cover;
}
.heroInfo {
  right: 0;
  position: absolute;
  top: 0;
  margin-top: 10rem;
  text-align: center;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
}

.heroInfo button {
  margin-top: 4rem;
  align-self: center;
  position: absolute;
}

button {
  background-color: black;
  border-radius: 30px;
  border-color: white;
  border-width: 1px;
  border-style: groove;
  font-family: 'interMedium';
  color: white;
  height: 2.75rem;
  /* margin-bottom: 98%; */
  background-color: black;
}

/* SpaceShuttle-section */

.island {
  width: 100%;
  height: 100vh;
  flex-direction: row;
  display: flex;
}

.islandInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.spaceShuttlePicture {
  height: 100vh;
  right: 0;
  width: 50%;
}

.formCalender {
  width: 100%;
  height: 100vh;
  flex-direction: row;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

form h2 {
  margin-bottom: 1rem;
}
.calendarBox {
  width: 25rem;
  height: 25rem;
  display: flex;
  align-self: center;
}

#bookButton {
  margin-top: 1rem;
}

.checkBowRow {
  display: flex;
  justify-content: row;
}
input,
select {
  margin-top: 1rem;
  height: 2rem;
  font: inherit;
  text-align: center;
}

input[type='checkbox' i] {
  width: 1rem;
  height: 1rem;
}

* {
  box-sizing: border-box;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slides-container {
  /* height: calc(100vh - 2rem); */
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: scroll;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slides-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
